.Episode {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-height: 100%;
}

.episodeHeader {
    height: 40px;
    background: rgba(117, 117, 117, 0.3);

    font-size: 26px;
    text-align: left;
    display: flex;
    align-items: center;
}

.input-wrapper {
    position: absolute;
    /* top: 14.8%; */
    left: 120px;
    display: inline-block;
    align-items: center;
}

.input-wrapper textArea {

    width: 800px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    /* or 42px */

    letter-spacing: -0.022em;

    color: #000000;
}
  

.episodeContent {
    /* background: lightpink; */
    /* height: 200px; */
    flex-grow: 1;
}

.chartButton {
    position: absolute;
    top: 280px;
    left: 900px;

    display: flex;
    flex-direction: column;
    /* padding-bottom: 10px; */
    justify-content: space-between;
}

.chartButtonText {
    /* margin-top: -8px; */

    font-family: 'Arial';
    font-style: normal;
    font-weight: 1000;
    font-size: 28px;
    line-height: 150%;
    /* or 42px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;

    color: #000000;
}
.chartButtonTextNum {
    /* margin-top: -5px; */

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    /* line-height: 150%; */
    /* or 42px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.chartArea {
    position: absolute;
    /* position: relative; */
    top: 350px;
    left: 10px;
    /* max-width: 292px;
    max-height: 204px; */
    width: 292px;
    height: 260px;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    /* top: 250px; */
    /* left: 100px; */
    /* bottom: 5px; */
    /* width: 100%; */
    /* height: 100%; */
}

.chartAreaTable {
    position: sticky;
    top: 0;
    width: 100%;
}

.episodeFooter {
    height: 105px;
    margin: 5px;
    background: #f5f5f5;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* or 24px */

    /* display: flex;
    align-items: center;
    letter-spacing: -0.022em; */
    
    display: inline-block;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;

    text-align: left;

    color: #000000;
}

.episodeFooter::-webkit-scrollbar {display:none}

.episodeTextArea {
    width: 100%;
    height: 100%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}

.selectPart {
    margin: 5px;
    font-size: 15px;

    display: block;
    text-align: left;
}

.selectNumber {
    background: rgba(117, 117, 117, 0.3);
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}

.selectNumberNum {
    display: inline-block;
    width: 15px;
    line-height:15px;
    vertical-align: middle;
    font-weight: bold;
}

.selectTaskEdit {
    background: lightgreen;

    display: inline-block;
    width: 120px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
}

.selectTask {
    background: lightpink;

    display: inline-block;
    width: 120px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
    font-size: auto;
}

.selectTaskNum {
    display: inline-block;
    width: 100px;
    line-height: 30px;
    vertical-align: middle;
    font-size: auto;

}
.selectText {
    margin-left: 4px;
    display: inline-block;
    vertical-align: middle;
}

.selectText textarea {
    font-family: 'Arial';

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    transform: translate(0, 5px);
    /* line-height: 150%; */
    /* or 20px */

    /* display: flex; */
    /* align-items: center; */
    letter-spacing: -0.022em;

    color: #1E1E1E;
}
.selectInsert {


    display: inline-block;
    margin-left: 10px;

    transform: translate(0, 5px);
}
.selectDelete {
    display: inline-block;
    /* line-height: 30px; */
    vertical-align: middle;
    margin-left: 10px;
    /* transform: translate(0, 5px); */
}

.selectDrop {
    position: absolute;
    /* top: 280px; */
    /* left: 550px; */
    /* left: 310px; */
    /* top: 340px; */
    left: 310px;
    top: 289px;
    border: 3px;
    border-color: black;
}

.chooseChart {
    position: absolute;
    left: 580px;
    top: 335px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 1000;
    font-size: 10px;
    line-height: 150%;
    /* or 15px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;
}