.Episode {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-height: 100%;
}

.episodeHeader {
    height: 50px;
    background: rgba(117, 117, 117, 0.3);

    font-size: 26px;
    text-align: left;
}

.episodeContent {
    /* background: lightpink; */
    /* height: 200px; */
    flex-grow: 1;
}

.chartButton {
    position: absolute;
    top: 280px;
    left: 900px;

    
}

.chartButtonText {
    margin-top: -5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    /* or 42px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;

    color: #000000;
}

.chartArea {
    position: absolute;
    /* position: relative; */
    top: 450px;
    left: 100px;
    /* top: 250px; */
    /* left: 100px; */
    /* bottom: 5px; */
    /* width: 100%; */
    /* height: 100%; */
}

.episodeFooter {
    height: 105px;
    margin: 5px;
    background: rgba(117, 117, 117, 0.3);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* or 24px */

    /* display: flex;
    align-items: center;
    letter-spacing: -0.022em; */
    
    display: inline-block;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;

    text-align: left;

    color: #000000;
}

.episodeFooter::-webkit-scrollbar {display:none}