.selectPart {
    margin: 5px;
    font-size: 15px;

    display: block;
    text-align: left;
}

.selectNumber {
    background: gray;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
}

.selectTaskEdit {
    background: lightgreen;

    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
}

.selectTask {
    background: lightpink;

    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
}

.selectText {
    margin-left: 10px;
}

.selectDelete {
    margin-left: 10px;
}

/* .selectDrop {
    border: 3px;
    border-color: black;
} */

/* .chooseChart {
    position: absolute;
    left: 300px;
} */