.story {
    width: 100%;
    height: 100%;
}

.InsightType {
    /* width: 20%; */
    height: 60%;
    left: 0px;
    top: 0px;

    width: 65px;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.022em;
    
    /* vertical center */
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(117, 117, 117, 0.3);
    border-radius: 10px;
    /* text-align: center; */
}

.TaskType {
    /* width: 20%; */
    height: 40%;
    /* left: 0px; */
    /* top: 80px; */
    /* font-size: 15px; */

    width: 65px;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.022em;
    
    /* vertical center */
    display: flex;
    align-items: center;
    justify-content: center;

    background: #B3DE69;
    border-radius: 10px;
    text-align: center;
}

.InputText {
    /* position: absolute; */
    /* width: 853px;
    height: 120px;
    left: 82px;
    top: 0px; */
    /* width: 80%; */
    height: 100%;
    /* margin-left: 20%; */

    width: 853px;
    margin-left: 100px;
    margin-top: -15%;
    /* margin-top: -23%; */
    /* top: -100%; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    /* font-size: 20px; */
    font-size: 32px;
    text-align: left;
    /* line-height: 150%; */
    /* or 48px */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    color: #000000;
}