.story {
    width: 100%;
    height: 100%;
}

.InsightType {
    width: 20%;
    height: 60%;
    left: 0px;
    top: 0px;
    font-size: 15px;
    
    /* vertical center */
    display: flex;
    align-items: center;

    background: gray;
    border-radius: 10;
    text-align: 'center';
}

.TaskType {
    width: 20%;
    height: 40%;
    left: 0px;
    /* top: 80px; */
    font-size: 15px;
    
    /* vertical center */
    display: flex;
    align-items: center;

    background: lightgreen;
    border-radius: 10;
    text-align: 'center';
}

.InputText {
    /* position: absolute; */
    /* width: 853px;
    height: 120px;
    left: 82px;
    top: 0px; */
    width: 80%;
    height: 100%;
    margin-left: 20%;
    top: -100%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 48px */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

color: #000000;
}