.shotChartBackground{
  background: #151526;
  font-family: helvetica;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.shotChartContainer{
  width: 1100px;
  height: 600px;
  background-color: #111010;
  display: grid;
  border-radius: 18px;
  overflow: hidden;
  grid-template-columns: 240px auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin: 0 6px;
}

.chart__container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart__holder{
  width: 100%;
  height: 100%;
  background: url('../readme_img/court.png');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 768px) {
  .container{
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .nav__container{
   /*  background: url('https://i.ibb.co/GWC0FR7/kobe.png'); */
    background-size: cover;
  }
}


/* d3 tip tools */
.d3-tip{
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

.d3-tip:after{
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100px;
  line-height: 1;
  color: rgba(0,0,0,0.8);
  position: absolute;
  pointer-events: none;
}
