.cardList {
    /* display: 'flex';  */
    /* max-height: 100%; */
    /* flex-wrap: 'nowrap'; */
    /* overflow-x: 'scroll'; */
    display: inline-block;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
}

.card {
    width: '500px'; 
    margin: '8px'; 
    height: 100%;
}

/* :deep(.cardText) { */
.cardText {
    min-height: 50%;
    max-height: 50%;
}