.Page {
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    /* or 36px */

    display: flex;
    align-items: center;
    letter-spacing: -0.022em;

    color: #FFFFFF;
    background: black;
}

.video {
    position: relative;
    top: 10px;
    /* margin-top: 50px; */

    height: 200px;
    width: 500px;

    margin: 0 auto;

    background: lightcoral;
}

.text {
    margin-left: 40px;
    margin-right: 40px;

    font-size: 22px;

    font-family: 'Inter';
    font-style: normal;

    text-align: left;
}

.subtitle {
    font-weight: 700;
    font-size: 28px;
}

.pageChart {
    position: relative;
    text-align: center;
}

.subparagraph {
    font-size: 22px;
}