.addable-grid-list-container {
    overflow: auto;
  }
  
  .addable-grid-list-card {
    width: 50px;
    height: 50px;
  }
  
  .list-container {
    width: 100%;
    overflow-x: scroll;

    height: 100%;
    overflow-y: scroll;

    overflow: hidden;
  }
  
  .list-wrapper {
    display: flex;
  }
  
  .list-wrapper .ant-list-item {
    width: calc(100% / 4);
    flex: 0 0 auto;
  }


.SLchart {
   transform: scale(0.3); 
    transform-origin: left top;
}
  