.App {
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
}

.content {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 70% 20%;
    /* grid-template-rows: 100px 350px 200px; */
}

.item {
    font-size: 4em;
    text-align: center;
    border: 2px solid #0f0f0f;
    margin: 3px;
}
  
/* .item-1 {
    background-color: #ef342a;
} */
  
/* .item-2 {
    pointer-events: none;
} */
  
.item-3 {
    /* background-color: #4ba946; */
    height: 100%;
    /* margin: 0; */
    pointer-events: all;
}
  
.item-4 {
    /* background-color: #0376c2; */
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    pointer-events: all;
}
  
.item-5 {
    height: 100%;
    pointer-events: all;
}
  