.App {
    width: 100%;
    height: 100%;
}

.content {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 70% 20%;
    /* grid-template-rows: 100px 350px 200px; */
}

.item {
    font-size: 4em;
    text-align: center;
    border: 1px solid #0f0f0f;
    /* margin: 1px; */
}
  
/* .item-1 {
    background-color: #ef342a;
} */
  
.item-2 {
    background-color: #f68f26;
}
  
.item-3 {
    background-color: #4ba946;
}
  
.item-4 {
    background-color: #0376c2;
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
  
.item-5 {
    background-color: #c077af;
}
  
.item-6 {
    background-color: #f8d29d;
}
  
.item-7 {
    background-color: #b5a87f;
}
  
.item-8 {
    background-color: #d0e4a9;
}
  
.item-9 {
    background-color: #4dc7ec;
}
  