.Menu {
    position: absolute;
    /* width: 1920px; */
    width: 100%;
    height: 50px;
    /* height: 5%; */
    left: 0px;
    top: 0px;
    background-color: black;
}

.InsightSupporter {
    position: absolute;
    width: 288px;
    height: 50px;
    left: 10px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    /* or 48px */

    text-align: center;
    letter-spacing: -0.022em;

    color: #FFFFFF;
}

.Calendar {
    position: absolute;
    width: 150px;
    height: 60px;
    /* left: 1350px; */
    right: 30px;
    top: -5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    /* or 48px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;

    color: #FFFFFF;
}

.DataSelect{
    box-sizing: border-box;

    position: absolute;
    width: 20px;
    height: 20px;
    right: 40px;
    top: 12px;

    background-color: #FFFFFF;
    /* border: 3px solid #1be676; */
    transform: matrix(0, 1, 1, 0, 0, 0);
}